{% extends 'bootstrap/base.html' %} {% import "bootstrap/wtf.html" as wtf %} {%
block styles %} {{ super() }}
<style>
  body {
    background: #e8f1f9;
  }
</style>
{% endblock %} {% block title %} Axie Tools {% endblock %} {% block content %}

<div class="container">
  <h1 class="text-center">
    <a href="/"> Axie Tools </a>
  </h1>
  <hr />

  <div class="row">
    <div class="col-sm">
      <div>
        <div>{{wtf.quick_form(form)}}</div>
        <br />
        {% if message %}
        <div class="alert alert-danger" role="alert">{{ message }}</div>
        {% endif %}
      </div>
    </div>

    <div class="col-sm">
      <div>Your CSV should be in this format</div>
      <code>ronin:abc1,0xsecretabc1</code>
      <br />
      <code>ronin:abc2,0xsecretabc2</code>
      <br />
      <code>ronin:abc3,0xsecretabc3</code>
      <br />
      <code>ronin:abc4,0xsecretabc4</code>
    </div>
    {% endblock %}
  </div>
</div>
