{% extends 'bootstrap/base.html' %} {% import "bootstrap/wtf.html" as wtf %} {%
block styles %} {{ super() }}
<style>
  body {
    background: #e8f1f9;
  }
</style>
{% endblock %} {% block title %} Axie Tools {% endblock %} {% block content %}

<div class="container">
  <h1 class="text-center">
    <a href="/"> Axie Tools </a>
  </h1>
  <hr />
  <div class="row">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <a
        class="btn btn-primary"
        target="_blank"
        noreferrer
        href="https://axie.management/tracker/payments"
        >Download the payments file</a
      >
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      {{wtf.quick_form(form)}}
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <p class="pt-5"><strong>{{ message }}</strong></p>
    </div>
  </div>
  <hr />
  <h1>Private Keys</h1>
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Ronin Address</th>
          <th scope="col">Private Key</th>
        </tr>
      </thead>
      <tbody>
        {% for key in secrets %}
        <tr>
          <th scope="row">{{ loop.index }}</th>
          <td>{{ key }}</td>
          <td>{{ secrets[key] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
