{% extends 'bootstrap/base.html' %} {% import "bootstrap/wtf.html" as wtf %} {%
block styles %} {{ super() }}
<style>
  body {
    background: #e8f1f9;
  }
</style>
{% endblock %} {% block title %} Axie Tools {% endblock %} {% block content %}

<div class="container">
  <h1 class="text-center">
    <a href="/"> Axie Tools </a>
  </h1>
  <hr />

  <div>
    {% if secrets|length > 0 %}
    <div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        {{wtf.quick_form(form)}}
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <p class="pt-5"><strong>{{ message }}</strong></p>
      </div>
    </div>
    <p>
      <a
        class="btn btn-primary"
        data-toggle="collapse"
        href="#privateKeys"
        role="button"
        aria-expanded="false"
        aria-controls="collapseExample"
      >
        Show Private Keys
      </a>
      <a
        class="btn btn-primary"
        target="_blank"
        noreferrer
        href="https://axie.management/tracker/payments"
        >Download the payments file</a
      >
    </p>
    <hr />
    <hr />
    <hr />
    <hr />
    <div class="collapse" id="privateKeys">
      <div class="row">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Ronin Address</th>
              <th scope="col">Private Key</th>
            </tr>
          </thead>
          <tbody>
            {% for key in secrets %}
            <tr>
              <th scope="row">{{ loop.index }}</th>
              <td>{{ key }}</td>
              <td>{{ secrets[key] }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    {% else %}
    <div>No SLP to collect at this time</div>
    {% endif %}
  </div>
</div>

{% endblock %}
